<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/registarStyle.css">
    <script defer src="../js/scripts.js"></script>
    
</head>
<body>

    <aside class="sidebar">
        <h2><i class="fa-solid fa-spa"></i> Espaço Zen</h2> 
        <ul>
            <li class="has-submenu">
                <a href="./src/view/registarCliente.html">
                    <i class="fa-solid fa-user-plus"></i> Cadastro do Cliente
                </a>
            </li>
    
            <li class="dropdown has-submenu">
                <a href="#" class="drop-btn">
                    <i class="fa-solid fa-box"></i> Produtos e serviços
                </a>
                <ul class="dropdown-content">
                    <li><a href="#"><i class="fa-solid fa-spray-can"></i> Depilação</a></li>
                    <li><a href="#"><i class="fa-solid fa-hand-holding-heart"></i> Massagem</a></li>
                    <li><a href="#"><i class="fa-solid fa-hand-sparkles"></i> Unha</a></li>
                    <li><a href="#"><i class="fa-solid fa-scissors"></i> Cabeleireiro</a></li>
                </ul>

                <ul class="dropdown-content">
                    <a href="#" class="drop-btn has-submenu">
                        <i class="fa-solid fa-clipboard-check"></i> Coleta, Revisão e Alteração do Serviço
                    </a>
                    <li><a href="#"><i class="fa-solid fa-spray-can"></i> Depilação</a></li>
                    <li><a href="#"><i class="fa-solid fa-hand-holding-heart"></i> Massagem</a></li>
                    <li><a href="#"><i class="fa-solid fa-hand-sparkles"></i> Unha</a></li>
                    <li><a href="#"><i class="fa-solid fa-scissors"></i> Cabeleireiro</a></li>
                </ul>

            </li>
    
            <li class="dropdown has-submenu">
                <a href="#" class="drop-btn">
                    <i class="fa-solid fa-comments"></i> Comunicação e interação
                </a>
                <ul class="dropdown-content">
                    <li><a href="#"><i class="fa-solid fa-bell"></i> Lembretes</a></li>
                    <li><a href="#"><i class="fa-solid fa-calendar-check"></i> Agendamentos</a></li>
                    <li><a href="#"><i class="fa-solid fa-check-circle"></i> Confirmações</a></li>
                    <li><a href="#"><i class="fa-solid fa-share"></i> Follow-up</a></li>
    
                    <li class="dropdown has-submenu">
                        <a href="#" class="drop-btn has-submenu">
                            <i class="fa-solid fa-envelope"></i> Canais de comunicação
                        </a>
                        <ul class="dropdown-content">
                            <li><a href="#"><i class="fa-solid fa-envelope"></i> E-mail</a></li>
                            <li><a href="#"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a></li>
                            <li><a href="#"><i class="fa-solid fa-sms"></i> SMS</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
    
            <li class="dropdown has-submenu">
                <a href="#" class="drop-btn">
                    <i class="fa-solid fa-notes-medical"></i> Preferências e Observações
                </a>
                <ul class="dropdown-content">
                    <li><a href="#"><i class="fa-solid fa-heart"></i> Tratamento</a></li>
                    <li><a href="#"><i class="fa-solid fa-triangle-exclamation"></i> Alergias</a></li>
                    <li><a href="#"><i class="fa-solid fa-wheelchair"></i> Necessidades especiais</a></li>
                </ul>
            </li>
    
            <li class="dropdown has-submenu">
                <a href="#" class="drop-btn">
                    <i class="fa-solid fa-users"></i> Classificação dos clientes
                </a>
                <ul class="dropdown-content">
                    <li><a href="#"><i class="fa-solid fa-user-plus"></i> Novos</a></li>
                    <li><a href="#"><i class="fa-solid fa-star"></i> Fidelizados</a></li>
                    <li><a href="#"><i class="fa-solid fa-user-slash"></i> Inativos</a></li>
                </ul>
            </li>
    
            <li class="dropdown has-submenu">
                <a href="#" class="drop-btn">
                    <i class="fa-solid fa-chart-line"></i> Perfil de consumo
                </a>
            </li>
    
            <li class="dropdown has-submenu">
                <a href="#" class="drop-btn">
                    <i class="fa-solid fa-face-smile"></i> Satisfação Histórica
                </a>
            </li>

            <li>
                <a href="../../index.html">
                    <i class="fa-solid fa-arrow-left"></i> Voltar
                </a>
            </li>
            
        </ul>
    </aside>
    
    <main class="main-centered">
        <section>
            <div id="container">
                    <fieldset class="fieldset">
                        <Legend>Registar Cliente</Legend>

                        <form action="">
                            <input type="text" name="nomeSolicitante" id="nomeCliente" placeholder="Nome" required>
                            <input type="text" name="username" placeholder="Sobrenome" id="user" required>
                            <br><br>
                            <input type="email" name="email" placeholder="exemplo@gmail.com" id="email" required>
                            <input type="text" name="fone" placeholder="+244" id="num" required>
                            <br><br>
                            <input type="date" name="dataDenascimento" id="dataDenascimento" placeholder="Data de nascimento" required>
                            <input type="text" name="morada" placeholder="Morada" id="endereco" required>
                            <br><br>
                            <select name="nacionalidade" id="nacionalidade">
                                <option value="" selected>NACIONALIDADE</option>
                                <option value="Angolana">ANGOLANA</option>
                            </select>
                            
                            <br>
                        </form>
                    </fieldset>
                    <button id="aluguel">Registar</button>
            </div>
        </section>
    </main>
    
    

</body>
</html>
